.header {
  margin: 25px auto;
  width: 60%;
  text-align: center;
  padding: 0;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.10), 0 3px 3px rgba(0, 0, 0, 0.23);
  ;
}

.table {
  margin: 0 auto;
  width: 60%;
  padding: 0;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.10), 0 3px 3px rgba(0, 0, 0, 0.23);
  ;
}

.weatherInfo {
  text-align: right;
}

nz-alert {
  margin-top: 1em;
  margin-bottom: 1em;
}
